{% extends 'layouts/base.html.twig' %}

{% block metaTitle talk.name %}

{% set hasSpeakers = talk.speakers|length > 0 %}

{% block body %}
    <twig:Breadcrumb items="{{ breadcrumbItems }}" />

    <div class="flex items-center justify-center w-full mt-4 mb-8">
        <h1 class="font-bold text-2xl text-center">{{ talk.name }}</h1>
        {% if app.user %}
            <div class="ml-2">
                <twig:Like type="talk" id="{{ talk.id }}" name="{{ talk.name }}" />
            </div>
        {% endif %}
    </div>

    <div class="flex {{ hasSpeakers ? "flex-col md:flex-row " : "" }}">
        <div class="relative flex-1 aspect-video">
            <youtube-player video-id="{{ talk.youtubeId }}"></youtube-player>
        </div>
    </div>

    {% if hasSpeakers or talk.description %}
        <div class="flex mt-4 {{ hasSpeakers ? "flex-col md:flex-row " : "" }}">
            <div class="p-4 flex-1 bg-gray-800 rounded leading-7 text-sm">
                {% if talk.description %}
                    <p class="break-words">{{ talk.description }}</p>
                {% endif %}
                <div class="text-sm italic mt-4">
                    {{ talk.date|format_datetime('long', 'none') }}
                </div>
            </div>
            {% if hasSpeakers %}
                <div
                        class="w-full md:w-64 shrink-0 mt-4 ml-0 md:mt-0 md:ml-4"
                >
                    {% for speaker in talk.speakers %}
                        <div class="mb-4 w-full">
                            <twig:SpeakerCard speaker="{{ speaker }}"
                                              url="{{ path('speaker_show', { slug: speaker.slug }) }}"/>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    {% if talk.prevTalk or talk.nextTalk %}
        <h2 class="mt-8 mb-4 text-xl font-bold">{{ 'talks.navigation_talks.title'|trans }}</h2>
        <nav class="mt-4">
            <ul class="grid grid-cols-2 gap-4">
                <li class="flex w-full">
                {% if talk.prevTalk %}
                        <twig:TalkCard talk="{{ talk.prevTalk }}" url="{{ path('talk_show', { slug: talk.prevTalk.slug }) }}" />
                {% endif %}
                </li>
                {% if talk.nextTalk %}
                    <li class="flex w-full">
                        <twig:TalkCard talk="{{ talk.nextTalk }}" url="{{ path('talk_show', { slug: talk.nextTalk.slug }) }}" />
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
