{% extends 'layouts/base.html.twig' %}

{% block metaTitle talk.name %}

{% block metaSocialNetwork %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ talk.name }}" />
    <meta name="twitter:description" content="{{ talk.description }}" />
    {% if talk.images.thumbnail %}
        <meta name="twitter:image" content="{{ talk.images.thumbnail }}" />
        <meta name="twitter:image:alt" content="{{ talk.name }}" />
    {% endif %}
    <meta property="og:title" content="{{ talk.name }}" />
    <meta property="og:description" content="{{ talk.description }}" />
    <meta property="og:type" content="website" />
    {% if talk.images.thumbnail %}
        <meta property="og:image" content="{{ talk.images.thumbnail }}" />
    {% endif %}
{% endblock %}

{% set hasSpeakers = talk.speakers|length > 0 %}

{% block body %}
    <twig:Breadcrumb items="{{ breadcrumbItems }}" />

    <div class="flex mt-4 flex-col md:flex-row">
        <div class="flex-grow" id="video-container" data-talk-id="{{ talk.id }}">
            <div class="flex {{ hasSpeakers ? "flex-col md:flex-row " : "" }}">
                <div class="relative flex-1 aspect-video">
                    <iframe
                            class="absolute inset-0 w-full h-full"
                            src="https://www.youtube.com/embed/{{ talk.youtubeId }}"
                            allowfullscreen
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    ></iframe>
                </div>
            </div>

            {% if hasSpeakers or talk.description %}
                <div class="flex mt-4 {{ hasSpeakers ? "flex-col md:flex-row " : "" }}">
                    <div class="p-4 flex-1 bg-gray-800 rounded leading-7 text-sm">
                        <div class="flex items-center justify-start w-full mb-4">
                            <h1 class="font-bold text-2xl text-left">{{ talk.name }}</h1>
                            {% if app.user %}
                                <div class="ml-2">
                                    <twig:Like type="talk" id="{{ talk.id }}" name="{{ talk.name }}" />
                                </div>
                            {% endif %}
                        </div>
                        {% if talk.description %}
                            <p class="break-words">{{ talk.description }}</p>
                        {% endif %}
                        <div class="text-sm italic mt-4">
                            {{ talk.date|format_datetime('long', 'none') }}
                        </div>
                    </div>
                    {% if hasSpeakers %}
                        <div
                                class="w-full md:w-64 shrink-0 mt-4 ml-0 md:mt-0 md:ml-4"
                        >
                            {% for speaker in talk.speakers %}
                                <div class="mb-4 w-full">
                                    <twig:SpeakerCard speaker="{{ speaker }}" url="{{ path('speaker_show', { slug: speaker.slug }) }}"/>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="flex-shrink-0 md:max-w-xs lg:max-w-sm w-full mt-4 md:mt-0 ml-0 md:ml-4 p-4 bg-gray-950 h-96" id="playlist-container">
            <nav class="flex flex-col h-full">
                <h2 class="mb-4 text-2xl font-bold">Talks</h2>
                <ul class="overflow-y-scroll overflow-x-hidden flex-grow">
                    {% for talk in edition.talks %}
                        <li class="mb-4" data-playlist-talk-id="{{ talk.id }}">
                            <twig:TalkCard talk="{{ talk }}" url="{{ path('talk_show', { slug: talk.slug }) }}" :showEdition="false" horizontal />
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
