<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T6TP9X4L');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block metaTitle %}{{ 'seo.title'|trans }}{% endblock %} | devconf.tv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/2d0c5a49ee.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/site.webmanifest') }}">

    <meta name="description" content="{% block metaDescription %}{{ 'seo.meta_description'|trans }}{% endblock %}">
    <meta name="keywords" content="{% block metaKeywords %}{{ 'seo.meta_keyworkds'|trans }}{% endblock %}" />

    {% block metaSocialNetwork %}{% endblock %}

    <script>
        window.isAuthenticated = {{ app.user ? 'true' : 'false' }};
        window.jsonTranslationsUrl = '{{ url('bazinga_jstranslation_js', { '_format': 'json' }) }}';
    </script>
</head>
<body class="bg-zinc-900 text-white min-h-screen flex flex-col items-center">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6TP9X4L"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="flex w-full min-h-screen flex-col items-center" id="app">
    <!-- Create a link only for screen readers to go to main content -->
    <a
        class="transition left-0 bg-primary text-primary-content absolute focus:relative -translate-y-16 focus:translate-y-0"
        href="#main"
    >
        {{ 'header.skip_to_content'|trans }}
    </a>
    <header class="p-4 flex flex-col w-full justify-center bg-zinc-800 md:flex-row md:justify-between"><a
                class="font-bold text-xl text-center" href="/">devconf.tv</a>
        <div class="flex-1 flex flex-col md:flex-row justify-center mt-4 md:mt-0">
            <nav class="flex ml-4 items-center flex-0 md:flex-1 md:justify-start justify-center">
                <ul class="flex flex-row">
                    <li><a class="block mr-3 text-white hover:underline" href="{{ path('conference_list') }}">{{ 'header.conferences.title'|trans }}</a></li>
                    <li><a class="block mr-3 text-white hover:underline" href="{{ path('edition_list') }}">{{ 'header.editions.title'|trans }}</a></li>
                    <li><a class="block mr-3 text-white hover:underline" href="{{ path('speaker_list') }}">{{ 'header.speakers.title'|trans }}</a></li>
                    <li><a class="block text-white hover:underline" href="{{ path('talk_list') }}">{{ 'header.talks.title'|trans }}</a></li>
                </ul>
            </nav>
            <div class="flex items-center justify-center mt-4 md:mt-0">
                <a href="{{ path('search') }}" title="{{ 'header.search.title'|trans }}">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                </a>
                <div class="ml-4 flex items-center justify-center">
                    {% if app.user %}
                        <user-dropdown email="{{ app.user.email }}"></user-dropdown>
                    {% else %}
                        <a href="{{ path('security_login') }}" title="{{ 'header.login.title'|trans }}">
                            <i class="fa-solid fa-user fa-lg"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <main class="px-4 py-4 max-w-7xl flex-grow w-full" id="main">
        {% block body %}{% endblock %}
    </main>
    <footer class="mt-8 p-4 bg-zinc-800 w-full text-center text-sm">
        Développé par <a class="font-bold" href="https://github.com/muhtreb" target="_blank" rel="noreferrer"
                         title="Github du développeur Julien HUMBERT">muhtreb</a>
    </footer>
</div>
</body>
</html>
