{% extends 'layouts/base.html.twig' %}

{% block metaTitle 'editions.list.title'|trans %}

{% block body %}
    <twig:Breadcrumb items="{{ breadcrumbItems }}" />

    <h1 class="font-bold text-2xl mb-4 mt-4 text-center">{{ 'editions.list.title'|trans }}</h1>

    <twig:SearchForm placeholder="Rechercher une édition"/>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
        {% for edition in editions %}
            <li class="flex">
                <twig:EditionCard edition="{{ edition }}" url="{{ path('edition_show', { 'slug': edition.slug }) }}" showThumbnail />
            </li>
        {% endfor %}
    </ul>

    <twig:MetaPagination meta="{{ meta }}" />
{% endblock %}
