{% extends 'layouts/base.html.twig' %}

{% block metaTitle edition.name %}

{% block metaSocialNetwork %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ edition.name }}" />
    <meta name="twitter:description" content="{{ edition.description }}" />

    {% if edition.conference.thumbnailImageUrl %}
        <meta name="twitter:image" content="{{ edition.conference.thumbnailImageUrl }}" />
        <meta name="twitter:image:alt" content="{{ edition.conference.name }}" />
    {% endif %}

    <meta property="og:title" content="{{ edition.name }}" />
    <meta property="og:description" content="{{ edition.name }}" />
    <meta property="og:type" content="website" />

    {% if edition.conference.thumbnailImageUrl %}
        <meta property="og:image" content="{{ edition.conference.thumbnailImageUrl }}" />
    {% endif %}
{% endblock %}
{% block body %}
    <div class="flex flex-col">
        <div class="flex flex-col mb-8 bg-gray-700 rounded-lg p-4 md:flex-row items-center md:items-start">
            <div class="relative w-48 h-48 border-2 overflow-hidden mr-4 shrink-0 mb-4 md:mb-0">
                {% if app.user %}
                    <div class="absolute top-3 left-3">
                        <twig:Like type="conferenceEdition" id="{{ edition.id }}" name="{{ edition.name }}" />
                    </div>
                {% endif %}
                {% if edition.conference.thumbnailImageUrl %}
                    <img
                            src="{{ edition.conference.thumbnailImageUrl }}"
                            alt="{{ edition.conference.name }}"
                            class="object-cover w-full h-full"
                    />
                {% endif %}
            </div>
            <div class="flex flex-col items-start w-full">
                <div class="mb-4 w-full md:w-auto">
                    <twig:Breadcrumb items="{{ breadcrumbItems }}" />
                </div>

                <div class="flex flex-row items-center justify-center  mb-4">
                    <h1 class="font-bold text-2xl">{{ edition.name }}</h1>

                    <span class="ml-4 text-md italic">
                        {{ edition|editionDate }}
                    </span>
                </div>

                <p class="mb-4">
                    {{ edition.description|default('edition.no_description'|trans({ count: edition.talks|length })) }}
                </p>

                {% if edition.playlists|length > 0 %}
                    <div class="flex flex-col items-center">
                        <a
                            href="https://www.youtube.com/playlist?list={{ edition.playlists.0.id  }}"
                            target="_blank"
                            class="flex flex-row items-center text-md px-4 py-2 bg-gray-800 rounded text-center hover:underline"
                        >
                            <i class="fab fa-youtube fa-md mr-2"></i>
                            {{ 'edition.show_on_youtube'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if edition.talks|length > 0 %}
            <section>
                <ul class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
                    {% for talk in edition.talks %}
                        <li class="flex w-full">
                            <twig:TalkCard talk="{{ talk }}" url="{{ path('talk_show', { 'slug': talk.slug }) }}" :showEdition="false" />
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </div>
{% endblock %}
