{% extends 'base.html.twig' %}

{% block body %}
    <section class="mb-16">
        <h1 class="text-3xl font-bold text-center mb-4">
            devconf.tv
        </h1>
        <p class="presentation__content text-xl">
            {{ 'home.banner.content'|trans }}
        </p>
    </section>

    <section class="mb-16">
        <h2 class="font-bold text-2xl mb-4 text-center">{{ 'home.search.title'|trans }}</h2>
        <twig:SearchForm action="{{ path('search') }}" />
    </section>
    <section class="mb-16">
        <h2 class="font-bold text-2xl mb-4 text-center">{{ 'home.latest_editions.title'|trans }}</h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {% for edition in editions %}
                <li class="flex flex-col p-4 bg-gray-700 text-white rounded-md cursor-pointer relative">
                    <twig:EditionCard
                        edition="{{ edition }}"
                        url="{{ url('edition_show', { slug: edition.slug }) }}"
                        showThumbnail
                    />
                </li>
            {% endfor %}
        </ul>
        <div class="mt-4 flex items-center justify-center w-full">
            <twig:Button tag="a" href="{{ path('edition_list') }}">
                {{ 'home.latest_editions.button'|trans }}
            </twig:Button>
        </div>
    </section>

    <section>
        <h2 class="font-bold text-2xl mb-4 text-center">{{ 'home.most_popular_speakers.title'|trans }}</h2>
        <ul class="grid grid-cols-2 lg:grid-cols-4 xl:grid-cols-5 gap-4">
            {% for speaker in topSpeakers %}
                <li class="flex">
                    <twig:SpeakerCard speaker="{{ speaker }}" url="{{ url('speaker_show', { slug: speaker.slug }) }}"/>
                </li>
            {% endfor %}
        </ul>
        <div class="mt-4 flex items-center justify-center w-full">
            <twig:Button tag="a" href="{{ path('speaker_list') }}">
                {{ 'home.most_popular_speakers.button'|trans }}
            </twig:Button>
        </div>
    </section>
{% endblock %}
