<div class="flex p-4 bg-gray-700 rounded-md cursor-pointer relative h-full flex-col w-full">
    <div
            class="relative"
    >
        <div
                class="relative w-full aspect-video border-2"
        >
            <img
                    src="{{ talk.images.thumbnail }}"
                    class="w-full"
                    alt=""
            />
        </div>
        {% if talk.duration %}
            <p class="bg-gray-800/75 px-1 text-sm rounded absolute bottom-1 left-1">
                {{ this.duration }}
            </p>
        {% endif %}
    </div>
    <div class="mt-2">
        <h2 class="text-lg font-medium">
            <a href="{{ url }}" class="before:inset-0 before:absolute before:content-['']">{{ talk.name }}</a>
        </h2>

        {% if showEdition %}
            <a
                    href="{{ path('edition_show', { slug: talk.edition.slug }) }}"
                    title="{{ talk.edition.name }}"
            >
                {{ talk.edition.name }}
            </a>
        {% endif %}
        {% if showDate %}
            <div class="text-sm font-regular">
                {{ this.date }}
            </div>
        {% endif %}
        {% if showSpeakers and this.hasSpeakers %}
            <div class="flex flex-col flex-wrap mt-4">
                {% for speaker in talk.speakers %}
                        <div class="flex flex-row w-full mb-4">
                            <a
                                    href="{{ path('speaker_show', {slug: speaker.slug }) }}"
                                    title="{{ speaker.firstName }} {{ speaker.lastName }}"
                                    class="p-2 bg-gray-800 rounded"
                            >
                                <div class="flex items-center">
                                    <div class="relative w-8 h-8 shrink-0">
                                        {% if speaker.avatarUrl %}
                                            <img
                                                    src="{{ speaker.avatarUrl }}"
                                                    alt="{{ speaker.firstName }} {{ speaker.lastName }}"
                                                    class="rounded-full border-2"
                                            />
                                        {% else %}
                                            <div
                                                    class="h-full w-full rounded-full border-2 bg-gray-800 flex items-center justify-center"
                                            >
                                                <i class="fa-solid fa-user fa-lg"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="ml-2 text-sm">
                                        <span>{{ speaker.firstName }} {{ speaker.lastName }}</span>
                                    </div>
                                </div>
                            </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
