<div class="{{ current ? 'bg-gray-600 hover:bg-gray-500' : 'bg-gray-700 hover:bg-gray-600' }} flex p-2  rounded-md cursor-pointer relative h-full flex-row w-full transition-colors duration-200 ease-in-out">
    <div class="relative">
        <div class="relative w-24 aspect-video border-2">
            <img
                    src="{{ talk.images.thumbnail }}"
                    class="w-full"
                    alt=""
            />
        </div>
        {% if talk.duration %}
            <p class="bg-gray-800/75 px-1 text-sm rounded absolute bottom-1 left-1">
                {{ this.duration }}
            </p>
        {% endif %}
    </div>
    <div class="ml-2">
        <h2 class="text-md font-medium">
            <a href="{{ url }}" class="before:inset-0 before:absolute before:content-['']">{{ talk.name }}</a>
        </h2>
    </div>
</div>
